---
layout: default
title: {{ page.title }}
---

<article class="blog-post">
    <header>
        <h1>{{ page.title }}</h1>
        <p class="post-date">{{ page.date | date: "%B %d, %Y" }}</p>
    </header>

    <div class="post-content">
        {{ content }}
    </div>
</article>

<a href="{% if page.lang == 'ru' %}{{ '/blog/' | prepend: '/ru' | prepend: site.baseurl }}{% else %}{{ '/blog/' | relative_url }}{% endif %}" class="back-to-blog">{% if page.lang == 'ru' %}← Назад к блогу{% else %}← Back to Blog{% endif %}</a>
